@import url('https://fonts.googleapis.com/css?family=Kalam:400,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  height: 100vh;
  font-family: 'Kalam', sans-serif;
  background-color: #f5f6f7;
  line-height: 1.6;
}

header {
  background: linear-gradient(to right, #ecb603, #ec8702);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}

header p {
  font-size: 1.4rem;
}

.container {
  width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

#timeline {
  position: relative;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.3rem;
  background: #e2ae02;
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-bottom: 5rem;
  }

  #timeline::before {
    left: 50%;
    margin-left: -0.1rem;
  }
}

.timeline-block {
  position: relative;
  margin: 1rem 0;
}

.timeline-block:after {
  content: '';
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4rem 0;
  }

  .timeline-block:first-child {
    margin-top: 0;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }
}
.timeline-circle {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #dabc5b, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.timeline-circle {
  background: #fff;
}

@media only screen and (min-width: 1170px) {
  .timeline-circle {
    width: 1.8rem;
    height: 1.8rem;
    left: 50%;
    margin-left: -0.9rem;
    margin-top: 0.9rem;
  }
}
.timeline-content {
  position: relative;
  margin-left: 3.7rem;
  margin-right: 1.8rem;
  background: #fff;
  border-radius: 0.6rem;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2),
    0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
  opacity: 0;
}

.timeline-content:after {
  content: '';
  display: table;
  clear: both;
}

.timeline-content h2 {
  color: #e2ae02;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.3rem;
}
.timeline-content p {
  color: #333;
  text-align: justify;
}

.timeline-content span,
.timeline-content span i {
  color: #dabc5b;
}

.timeline-content span {
  float: right;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 1.2rem;
  right: 100%;
  height: 0;
  width: 0;
  border: 0.6rem solid transparent;
  border-right: 0.4rem solid #fff;
}

@media only screen and (min-width: 768px) {
  .timeline-content h2 {
    font-size: 1.25rem;
  }

  .timeline-content p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1170px) {
  .timeline-content {
    color: #fff;
    margin-left: 0;
    padding: 1.6rem;
    width: 36%;
    margin: 0 5%;
  }

  .timeline-content::before {
    top: 1.5rem;
    left: 100%;
    border-color: transparent;
    border-left-color: #fff;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content::before {
    top: 1.5rem;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #fff;
  }
}

.footer-container {
  position: relative;
  margin: auto;
}
footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

footer p a {
  text-decoration: none;
  color: #e2ae02;
  font-weight: 700;
}
footer p i {
  color: #e92222;
}
.from-bottom {
  animation: moveBottom 1s;
  opacity: 1;
}

@keyframes moveBottom {
  0% {
    transform: translateY(5rem) scale(0.8);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
